.DescrizioneProgettoImpiegatoPane{
	-fx-border-width: 5;
	-fx-border-color: white;
	-fx-background-color: -fx-terzocolore;
}

.IstruzioniLabel{
	-fx-font-family: 'Roboto Light';
	-fx-font-style: italic;
}

.DescrizioneProgettoImpiegatoButton{
	-fx-background-color: #1e2124;
	-fx-background-radius: 10;
	-fx-border-width: 2;
	-fx-border-color: white;
	-fx-border-radius: 10;
	-fx-background-radius: 10;
}

.DescrizioneProgettoImpiegatoButton:hover{
	-fx-background-color: #7289da;
	-fx-background-radius: 10;
}