.IstruzioniLabel{
	-fx-font-family: 'Roboto Light';
	-fx-font-style: italic;
}

.DescrizioneRiunioneImpiegatoPane{
	-fx-border-width: 5;
	-fx-border-color: white;
	-fx-background-color: #36393e;
}

.DescrizioneRiunioneImpiegatoButton{
	-fx-background-color: #1e2124;
	-fx-background-radius: 10;
	-fx-border-width: 2;
	-fx-border-color: white;
	-fx-border-radius: 10;
	-fx-background-radius: 10;
}

.DescrizioneRiunioneImpiegatoButton:hover{
	-fx-background-color: #7289da;
	-fx-background-radius: 10;
}