.ConfermaRegistrazioneImpiegato{
	-fx-primocolore: #7289da;
	-fx-secondocolore: #424549;
	-fx-terzocolore: #36393e;
	-fx-background-color: -fx-secondocolore;
	-fx-font-family: 'Roboto';
}

.EmailLabel,
.PasswordLabel,
.EmailTF,
.PasswordTF,
.CambiaPasswordButton,
.ConfermaButton{
	-fx-text-fill: white;
	-fx-font-size: 14;
}

.DescrizioneLabel{
	-fx-text-fill: white;
	-fx-font-size: 20;
}

.EmailTF, .PasswordTF{
	-fx-background-color: -fx-secondocolore;
	-fx-border-width: 0 0 2 0;
	-fx-border-color: white;
}

.CambiaPasswordButton, .ConfermaButton{
	-fx-background-color: -fx-terzocolore;
	-fx-background-radius: 10;
	-fx-text-fill: white;
	-fx-font-size: 18;
	-fx-border-width: 2;
	-fx-border-color: white;
	-fx-border-radius: 10;
	-fx-background-radius: 10;
}

.CambiaPasswordButton:hover, .ConfermaButton:hover{
	-fx-background-color: -fx-primocolore;
	-fx-background-radius: 10;
}