.RegistrazioneImpiegato{
	-fx-primocolore: #7289da;
	-fx-secondocolore: #424549;
	-fx-terzocolore: #36393e;
	-fx-background-color: -fx-secondocolore;
	-fx-font-family: 'Roboto';
}

.IstruzioniBox{
	-fx-border-width: 0 0 5 0;
	-fx-border-color: -fx-terzocolore;
}

.IstruzioniLabel{
	-fx-text-fill: white;
	-fx-font-weight: 900;
	-fx-font-size: 30;
}

.IstruzioniLabel2{
	-fx-text-fill: red;
	-fx-font-weight: 900;
	-fx-font-size: 16;
}

.scroll-pane {
	-fx-border-width: 5;
	-fx-border-color: white;
}

.scroll-pane .viewport{
	-fx-background-color: -fx-terzocolore;
}

.scroll-pane:focused {
    -fx-background-insets: 0;
}

.scroll-pane .scroll-bar:vertical{
	-fx-background-color: -fx-secondocolore;
}

.scroll-pane .scroll-bar:vertical .thumb,
.scroll-pane .scroll-bar:vertical .increment-button .increment-arrow,
.scroll-pane .scroll-bar:vertical .decrement-button .decrement-arrow{
	-fx-background-color: -fx-primocolore;
}

.NomeLabel,
.CognomeLabel,
.ProvinciaLabel{
	-fx-font-size: 10;
	-fx-text-fill: -fx-primocolore;
}

.NomeTF,
.CognomeTF,
.DataDiNascitaDP,
.ProvinciaTF,
.ComuneLV,
.SkillLV,
.GradoLV{
	-fx-text-fill: white;
	-fx-prompt-text-fill: white;
	-fx-font-size: 14;
	-fx-background-color: -fx-secondocolore;
	-fx-border-width: 0 0 2 0;
	-fx-border-color: white;
}

.NomeTF:focused,
.CognomeTF:focused,
.ProvinciaTF:focused{
	-fx-border-color: -fx-primocolore;
}

.GenereLabel,
.DataDiNascitaLabel,
.GenereRB1,
.GenereRB2,
.ComuneLabel,
.ProvinciaLabel,
.SkillLabel,
.GradoLabel{
	-fx-font-size: 14;
	-fx-text-fill: white;
}

.NomeErrorLabel,
.CognomeErrorLabel,
.GenereErrorLabel,
.DataDiNascitaErrorLabel{
	-fx-font-size: 10;
	-fx-text-fill: red;
}

.GenereRB1:focused,
.GenereRB2:focused{
	-fx-text-fill: -fx-primocolore;
}

.GenereRB1 .radio,
.GenereRB2 .radio{
	-fx-background-color: -fx-secondocolore;
	-fx-border-width: 2px;
	-fx-border-color: white;
	-fx-border-radius: 15px;
}

.GenereRB1:focused .radio .dot,
.GenereRB2:focused .radio .dot{
	-fx-mark-highlight-color: -fx-primocolore;
	-fx-mark-color: -fx-primocolore;
}

.GenereRB1 .radio .dot,
.GenereRB2 .radio .dot{
	-fx-mark-highlight-color: white;
	-fx-mark-color: white;
}

.DataDiNascitaDP .date-picker-display-node{
	-fx-background-color: -fx-secondocolore;
	-fx-text-fill: white;
	-fx-font-size: 14;
}

.DataDiNascitaDP:focused{
	-fx-border-color: -fx-primocolore;
}

.DataDiNascitaDP .arrow-button{
	-fx-background-color: white;
	-fx-border-width: 2;
	-fx-border-color: white;
}

.DataDiNascitaDP:focused .arrow-button{
	-fx-background-color: -fx-primocolore;
	-fx-border-color: -fx-primocolore;
}

.ButtonBar{
	-fx-border-width: 5 0 0 0;
	-fx-border-color: -fx-terzocolore;
}

.AnnullaButton, .ConfermaButton{
	-fx-background-color: -fx-terzocolore;
	-fx-text-fill: white;
	-fx-font-size: 30;
	-fx-border-width: 2;
	-fx-border-color: white;
	-fx-border-radius: 10;
	-fx-background-radius: 10;
}

.AnnullaButton:hover, .ConfermaButton:hover{
	-fx-background-color: -fx-primocolore;
	-fx-backgrund-radius: 10;
}