.RegistrazioneProgetto{
	-fx-primocolore: #7289da;
	-fx-secondocolore: #424549;
	-fx-terzocolore: #36393e;
	-fx-background-color: -fx-secondocolore;
	-fx-font-family: 'Roboto';
}

.IstruzioniBox{
	-fx-border-width: 0 0 5 0;
	-fx-border-color: -fx-terzocolore;
}

.IstruzioniLabel{
	-fx-text-fill: white;
	-fx-font-weight: 900;
	-fx-font-size: 30;
}

.IstruzioniLabel2{
	-fx-text-fill: red;
	-fx-font-weight: 900;
	-fx-font-size: 16;
}

.scroll-pane {
	-fx-border-width: 5;
	-fx-border-color: white;
}

.scroll-pane .viewport{
	-fx-background-color: -fx-terzocolore;
}

.scroll-pane:focused {
    -fx-background-insets: 0;
}

.scroll-pane .scroll-bar:vertical{
	-fx-background-color: -fx-secondocolore;
}

.scroll-pane .scroll-bar:vertical .thumb,
.scroll-pane .scroll-bar:vertical .increment-button .increment-arrow,
.scroll-pane .scroll-bar:vertical .decrement-button .decrement-arrow{
	-fx-background-color: -fx-primocolore;
}

.TitoloLabel,
.DescrizioneLabel{
	-fx-font-size: 10;
	-fx-text-fill: -fx-primocolore;
}

.TitoloTF,
.DescrizioneTA,
.DataDiInizioDP,
.DataDiScadenzaDP,
.TipologiaComboBox{
	-fx-text-fill: white;
	-fx-prompt-text-fill: white;
	-fx-font-size: 14;
	-fx-background-color: -fx-secondocolore;
	-fx-border-width: 0 0 2 0;
	-fx-border-color: white;
}

.AmbitiMenuButton{
	-fx-background-color: -fx-secondocolore;
	-fx-border-width: 0 0 2 0;
	-fx-border-color: white;
}

.AmbitiMenuButton .label .text{
	-fx-fill: white;
	-fx-font-size: 14;
}

.TitoloTF:focused,
.DescrizioneTA:focused .scroll-pane{
	-fx-border-color: -fx-primocolore;
}

.DescrizioneTA .scroll-pane{
	-fx-border-width: 0 0 2 0;
	-fx-border-color: white;
	-fx-hbar-policy: NEVER;
}

.DescrizioneTA .scroll-pane,
.DescrizioneTA .scroll-pane .viewport .content{
	-fx-background-color: -fx-secondocolore;
}

.TitoloErrorLabel,
.DataDiInizioErrorLabel,
.DataDiScadenzaErrorLabel{
	-fx-font-size: 10;
	-fx-text-fill: red;
}

.DataDiInizioLabel,
.DataDiScadenzaLabel,
.TipologiaLabel,
.AmbitiLabel{
	-fx-font-size: 14;
	-fx-text-fill: white;
}

.DataDiInizioDP .date-picker-display-node,
.DataDiScadenzaDP .date-picker-display-node{
	-fx-background-color: -fx-secondocolore;
	-fx-text-fill: white;
	-fx-font-size: 14;
}

.DataDiInizioDP:focused,
.DataDiScadenzaDP:focused,
.TipologiaComboBox:focused,
.AmbitiMenuButton:focused{
	-fx-border-color: -fx-primocolore;
}

.DataDiInizioDP .arrow-button,
.DataDiScadenzaDP .arrow-button,
.TipologiaComboBox .arrow-button{
	-fx-background-color: white;
	-fx-border-width: 2;
	-fx-border-color: white;
}

.AmbitiMenuButton .arrow-button{
	-fx-background-color: white;
	-fx-background-insets: 0 0 0 -18;
	-fx-border-color: white;
}

.DataDiInizioDP:focused .arrow-button,
.DataDiScadenzaDP:focused .arrow-button,
.TipologiaComboBox:focused .arrow-button,
.AmbitiMenuButton:focused .arrow-button{
	-fx-background-color: -fx-primocolore;
	-fx-border-color: -fx-primocolore;
}

.AmbitiMenuButton .context-menu{
	-fx-background-color: -fx-secondocolore;
}

.AmbitiMenuButton .context-menu:hover{
	-fx-background-color: -fx-primocolore;
}

.ButtonBar{
	-fx-border-width: 5 0 0 0;
	-fx-border-color: -fx-terzocolore;
}

.AnnullaButton, .ConfermaButton{
	-fx-background-color: -fx-terzocolore;
	-fx-background-radius: 10;
	-fx-text-fill: white;
	-fx-font-size: 30;
	-fx-border-width: 2;
	-fx-border-color: white;
	-fx-border-radius: 10;
	-fx-background-radius: 10;
}

.AnnullaButton:hover, .ConfermaButton:hover{
	-fx-background-color: -fx-primocolore;
	-fx-background-radius: 10;
}