.RicercaImpiegati{
	-fx-primocolore: #7289da;
	-fx-secondocolore: #424549;
	-fx-terzocolore: #36393e;
	-fx-background-color: -fx-secondocolore;
	-fx-font-family: 'Roboto';
}

.IstruzioniBox{
	-fx-border-width: 0 0 5 0;
	-fx-border-color: -fx-terzocolore;
}

.IstruzioniLabel{
	-fx-text-fill: white;
	-fx-font-weight: 900;
	-fx-font-size: 30;
}

.LabelGrande{
	-fx-font-size: 18;
	-fx-text-fill: white;
}

.LabelPiccola{
	-fx-font-size: 16;
	-fx-text-fill: white;
	-fx-font-family: 'Roboto Light';
}

.TextField,
.ComboBox{
	-fx-prompt-text-fill: white;
	-fx-background-color: -fx-secondocolore;
	-fx-border-width: 0 0 2 0;
	-fx-border-color: white;
}

.ComboBox:focused{
	-fx-border-color: -fx-primocolore;
}

.ComboBox .list-cell{
	-fx-background-color: -fx-secondocolore;
}
.ComboBox .list-cell .text{
	-fx-fill: white;
}

.ComboBox .arrow-button{
	-fx-background-color: white;
	-fx-border-width: 2;
	-fx-border-color: white;
}

.ComboBox:focused .arrow-button{
	-fx-background-color: -fx-primocolore;
	-fx-border-color: -fx-primocolore;
}

.FormScrollPane {
	-fx-border-width: 5;
	-fx-border-color: white;
}

.FormScrollPane .viewport{
	-fx-background-color: -fx-terzocolore;
}

.FormScrollPane:focused {
    -fx-background-insets: 0;
}

.FormScrollPane .scroll-bar:vertical{
	-fx-background-color: -fx-secondocolore;
}

.FormScrollPane .scroll-bar:vertical .thumb,
.FormScrollPane .scroll-bar:vertical .increment-button .increment-arrow,
.FormScrollPane .scroll-bar:vertical .decrement-button .decrement-arrow{
	-fx-background-color: -fx-primocolore;
}

.ListView,
.AnchorPane{
	-fx-control-inner-background: -fx-terzocolore;
	-fx-font-size: 18;
	-fx-border-width: 5;
	-fx-border-color: white;
}

.ListView .list-cell{
	-fx-pref-height: 100;
}

.ListView,
.ListView .scroll-bar:vertical{
	-fx-background-color: -fx-terzocolore;
}

.ListView .viewport{
	-fx-background-color: transparent;
}

.ListView .list-cell:selected,
.ListView .scroll-bar:vertical .thumb,
.ListView .scroll-bar:vertical .increment-button .increment-arrow,
.ListView .scroll-bar:vertical .decrement-button .decrement-arrow{
	-fx-background-color: -fx-primocolore;
}

.Button{
	-fx-background-color: -fx-terzocolore;
	-fx-background-radius: 10;
	-fx-border-width: 2;
	-fx-border-color: white;
	-fx-border-radius: 10;
	-fx-background-radius: 10;
}

.Button:hover{
	-fx-background-color: -fx-primocolore;
	-fx-background-radius: 10;
}