.RegistrazioneImpiegato{
	-fx-primocolore: #7289da;
	-fx-secondocolore: #424549;
	-fx-terzocolore: #36393e;
	-fx-background-color: -fx-secondocolore;
	-fx-font-family: 'Roboto';
}

.IstruzioniBox{
	-fx-border-width: 0 0 5 0;
	-fx-border-color: -fx-terzocolore;
}

.IstruzioniLabel{
	-fx-text-fill: white;
	-fx-font-weight: 900;
	-fx-font-size: 30;
}

.IstruzioniLabel2{
	-fx-text-fill: red;
	-fx-font-weight: 900;
	-fx-font-size: 16;
}

.FormScrollPane {
	-fx-border-width: 5;
	-fx-border-color: white;
}

.FormScrollPane .viewport{
	-fx-background-color: -fx-terzocolore;
}

.FormScrollPane:focused {
    -fx-background-insets: 0;
}

.FormScrollPane .scroll-bar:vertical{
	-fx-background-color: -fx-secondocolore;
}

.FormScrollPane .scroll-bar:vertical .thumb,
.FormScrollPane .scroll-bar:vertical .increment-button .increment-arrow,
.FormScrollPane .scroll-bar:vertical .decrement-button .decrement-arrow{
	-fx-background-color: -fx-primocolore;
}

.EmailLabel,
.PasswordLabel,
.NomeLabel,
.CognomeLabel,
.ProvinciaLabel{
	-fx-font-size: 10;
	-fx-text-fill: -fx-primocolore;
}

.EmailTF,
.PasswordTF,
.NomeTF,
.CognomeTF,
.DataDiNascitaDP,
.ProvinciaTF,
.ComuneComboBox,
.CodiceFiscaleTF,
.SkillMenuButton,
.GradoComboBox{
	-fx-text-fill: white;
	-fx-prompt-text-fill: white;
	-fx-font-size: 14;
	-fx-background-color: -fx-secondocolore;
	-fx-border-width: 0 0 2 0;
	-fx-border-color: white;
}

.EmailTF:focused,
.PasswordTF:focused,
.NomeTF:focused,
.CognomeTF:focused,
.ProvinciaTF:focused,
.DataDiNascitaDP:focused,
.ComuneComboBox:focused,
.CodiceFiscaleTF:focused,
.SkillMenuButton:focused,
.GradoComboBox:focused{
	-fx-border-color: -fx-primocolore;
}

.GenereLabel,
.DataDiNascitaLabel,
.GenereRB1,
.GenereRB2,
.ComuneLabel,
.ProvinciaLabel,
.CodiceFiscaleLabel,
.SkillLabel,
.GradoLabel{
	-fx-font-size: 14;
	-fx-text-fill: white;
}

.EmailErrorLabel,
.PasswordErrorLabel,
.NomeErrorLabel,
.CognomeErrorLabel,
.DataDiNascitaErrorLabel,
.CodiceFiscaleErrorLabel{
	-fx-font-size: 10;
	-fx-text-fill: red;
}

.GenereRB1:focused,
.GenereRB2:focused{
	-fx-text-fill: -fx-primocolore;
}

.GenereRB1 .radio,
.GenereRB2 .radio{
	-fx-background-color: -fx-secondocolore;
	-fx-border-width: 2px;
	-fx-border-color: white;
	-fx-border-radius: 15px;
}

.GenereRB1:focused .radio .dot,
.GenereRB2:focused .radio .dot{
	-fx-mark-highlight-color: -fx-primocolore;
	-fx-mark-color: -fx-primocolore;
}

.GenereRB1 .radio .dot,
.GenereRB2 .radio .dot{
	-fx-mark-highlight-color: white;
	-fx-mark-color: white;
}

.ComuneComboBox .list-cell,
.GradoComboBox .list-cell{
	-fx-background-color: -fx-secondocolore;
}
.ComuneComboBox .list-cell .text,
.GradoComboBox .list-cell .text{
	-fx-fill: white;
}

.CercaComuniButton{
	-fx-background-color: -fx-terzocolore;
	-fx-text-fill: white;
	-fx-font-size: 14;
	-fx-border-width: 2;
	-fx-border-color: white;
	-fx-border-radius: 10;
	-fx-background-radius: 10;
}

.CercaComuniButton:hover{
	-fx-background-color: -fx-primocolore;
	-fx-backgrund-radius: 10;
}

.DataDiNascitaDP .date-picker-display-node{
	-fx-background-color: -fx-secondocolore;
	-fx-text-fill: white;
	-fx-font-size: 14;
}

.DataDiNascitaDP .arrow-button,
.ComuneComboBox .arrow-button,
.SkillMenuButton .arrow-button,
.GradoComboBox .arrow-button{
	-fx-background-color: white;
	-fx-border-width: 2;
	-fx-border-color: white;
}

.SkillMenuButton .arrow-button{
	-fx-background-insets: 0 0 0 -13;
}

.DataDiNascitaDP:focused .arrow-button,
.ComuneComboBox:focused .arrow-button,
.SkillMenuButton:focused .arrow-button,
.GradoComboBox:focused .arrow-button{
	-fx-background-color: -fx-primocolore;
	-fx-border-color: -fx-primocolore;
}

.SkillMenuButton{
	-fx-background-color: -fx-secondocolore;
	-fx-border-width: 0 0 2 0;
	-fx-border-color: white;
}

.SkillMenuButton .label .text{
	-fx-fill: white;
	-fx-font-size: 14;
}

.ButtonBar{
	-fx-border-width: 5 0 0 0;
	-fx-border-color: -fx-terzocolore;
}

.AnnullaButton, .ConfermaButton{
	-fx-background-color: -fx-terzocolore;
	-fx-background-radius: 10;
	-fx-text-fill: white;
	-fx-font-size: 30;
	-fx-border-width: 2;
	-fx-border-color: white;
	-fx-border-radius: 10;
	-fx-background-radius: 10;
}

.AnnullaButton:hover, .ConfermaButton:hover{
	-fx-background-color: -fx-primocolore;
	-fx-background-radius: 10;
}