.HomePageProjectManager{
	-fx-primocolore: #7289da;
	-fx-secondocolore: #424549;
	-fx-terzocolore: #36393e;
	-fx-background-color: -fx-secondocolore;
	-fx-font-family: 'Roboto';
}

.NomeImpiegatoLabel,
.ListaPartecipantiLabel{
	-fx-font-size: 18;
	-fx-text-fill: white;
}

.GradoImpiegatoLabel{
	-fx-font-size: 16;
	-fx-text-fill: white;
	-fx-font-family: 'Roboto Light';
}

.HomePageImpiegatoButton,
.NuovaRiunioneButton,
.AggiungiImpiegatoButton{
	-fx-background-color: -fx-terzocolore;
	-fx-background-radius: 10;
	-fx-text-fill: white;
	-fx-font-size: 18;
	-fx-border-width: 2;
	-fx-border-color: white;
	-fx-border-radius: 10;
	-fx-background-radius: 10;
}

.HomePageImpiegatoButton:hover,
.NuovaRiunioneButton:hover,
.AggiungiImpiegatoButton:hover{
	-fx-background-color: -fx-primocolore;
	-fx-background-radius: 10;
}

.IstruzioniLabel{
	-fx-font-size: 30;
	-fx-text-fill: white;
	-fx-font-family: 'Roboto Light';
	-fx-font-style: italic;
}

.ListaPartecipantiScrollPane{
	-fx-border-width: 5;
	-fx-border-color: white;
}

.ListaPartecipantiScrollPane .viewport{
	-fx-background-color: -fx-terzocolore;
}

.ListaPartecipantiScrollPane:focused{
    -fx-background-insets: 0;
}

.ListaPartecipantiScrollPane .scroll-bar:vertical{
	-fx-background-color: -fx-terzocolore;
}

.ListaPartecipantiScrollPane .scroll-bar:vertical .thumb,
.ListaPartecipantiScrollPane .scroll-bar:vertical .increment-button .increment-arrow,
.ListaPartecipantiScrollPane .scroll-bar:vertical .decrement-button .decrement-arrow{
	-fx-background-color: -fx-primocolore;
}

.ListaPartecipantiLV{
	-fx-control-inner-background: -fx-terzocolore;
	-fx-font-size: 18;
}

.ListaPartecipantiLV .list-cell{
	-fx-pref-height: 100;
}

.ListaPartecipantiLV .list-cell:selected{
	-fx-background-color: -fx-primocolore;
}

.DescrizioneProgettoImpiegatoPane{
	-fx-border-width: 5;
	-fx-border-color: white;
	-fx-background-color: -fx-terzocolore;
}