.HomePageImpiegato{
	-fx-primocolore: #7289da;
	-fx-secondocolore: #424549;
	-fx-terzocolore: #36393e;
	-fx-quartocolore: #1e2124;
	-fx-background-color: -fx-secondocolore;
	-fx-font-family: 'Roboto';
}

.NomeImpiegatoLabel,
.ListaProgettiLabel,
.TitoloProgettoLabel,
.ListaRiunioniLabel{
	-fx-font-size: 18;
	-fx-text-fill: white;
}

.GradoImpiegatoLabel{
	-fx-font-size: 16;
	-fx-text-fill: white;
	-fx-font-family: 'Roboto Light';
}

.ValutazioniButton,
.NuovoProgettoButton,
.LogoutButton{
	-fx-background-color: -fx-terzocolore;
	-fx-text-fill: white;
	-fx-font-size: 18;
	-fx-border-width: 2;
	-fx-border-color: white;
	-fx-border-radius: 10;
	-fx-background-radius: 10;
}

.GestioneProgettoButton,
.ModificaButton{
	-fx-background-color: -fx-quartocolore;
	-fx-text-fill: white;
	-fx-font-size: 18;
	-fx-border-width: 2;
	-fx-border-color: white;
	-fx-border-radius: 10;
	-fx-background-radius: 10;	
}

.ValutazioniButton:hover,
.NuovoProgettoButton:hover,
.LogoutButton:hover,
.GestioneProgettoButton:hover,
.ModificaButton:hover{
	-fx-background-color: -fx-primocolore;
	-fx-backgrund-radius: 10;
}

.IstruzioniLabel{
	-fx-font-size: 30;
	-fx-text-fill: white;
	-fx-font-family: 'Roboto Light';
	-fx-font-style: italic;
}

.DescrizioneProgettoPane{
	-fx-border-width: 5;
	-fx-border-color: white;
	-fx-background-color: -fx-terzocolore;
}

.DescrizioneProgettoTA,
.DescrizioneProgettoTA .scroll-pane,
.DescrizioneProgettoTA .scroll-pane .viewport,
.DescrizioneProgettoTA .scroll-pane .viewport .content{
	-fx-background-color: -fx-terzocolore;
	-fx-padding: 0;
}

.DescrizioneProgettoTA{
	-fx-text-fill: white;
	-fx-font-size: 18;
}

.DescrizioneProgettoTA .scroll-pane{
	-fx-hbar-policy: NEVER;
}

.DescrizioneProgettoTA .scroll-pane .scroll-bar:vertical{
	-fx-background-color: -fx-secondocolore;
}

.DescrizioneProgettoTA .scroll-pane .scroll-bar:vertical .thumb,
.DescrizioneProgettoTA .scroll-pane .scroll-bar:vertical .increment-button .increment-arrow,
.DescrizioneProgettoTA .scroll-pane .scroll-bar:vertical .decrement-button .decrement-arrow{
	-fx-background-color: -fx-primocolore;
}

.DataDiInizioLabel,
.DataDiFineLabel,
.DataDiScadenzaLabel,
.NoteLabel{
	-fx-text-fill: white;
	-fx-font-size: 18;
}

.ListaProgettiScrollPane,
.ListaRiunioniScrollPane{
	-fx-border-width: 5;
	-fx-border-color: white;
}

.ListaProgettiScrollPane .viewport,
.ListaRiunioniScrollPane .viewport{
	-fx-background-color: -fx-terzocolore;
}

.ListaProgettiScrollPane:focused,
.ListaRiunioniScrollPane:focused{
    -fx-background-insets: 0;
}

.ListaProgettiScrollPane .scroll-bar:vertical,
.ListaRiunioniScrollPane .scroll-bar:vertical{
	-fx-background-color: -fx-terzocolore;
}

.ListaProgettiScrollPane .scroll-bar:vertical .thumb,
.ListaProgettiScrollPane .scroll-bar:vertical .increment-button .increment-arrow,
.ListaProgettiScrollPane .scroll-bar:vertical .decrement-button .decrement-arrow,
.ListaRiunioniScrollPane .scroll-bar:vertical .thumb,
.ListaRiunioniScrollPane .scroll-bar:vertical .increment-button .increment-arrow,
.ListaRiunioniScrollPane .scroll-bar:vertical .decrement-button .decrement-arrow{
	-fx-background-color: -fx-primocolore;
}

.ListaProgettiLV,
.ListaRiunioniLV{
	-fx-control-inner-background: -fx-terzocolore;
	-fx-font-size: 18;
}

.ListaProgettiLV .list-cell:selected,
.ListaRiunioniLV .list-cell:selected{
	-fx-background-color: -fx-primocolore;
}