.IstruzioniLabel{
	-fx-font-family: 'Roboto Light';
	-fx-font-style: italic;
}

.DescrizioneValutazionePane{
	-fx-border-width: 5;
	-fx-border-color: white;
	-fx-background-color: -fx-terzocolore;
}

.TitoloValutazioneLabel{
	-fx-text-fill: white;
	-fx-font-size: 24;
}

.RecensoreValutazioneLabel{
	-fx-font-size: 20;
	-fx-text-fill: white;
	-fx-font-family: 'Roboto Light';
}