.IstruzioniLabel{
	-fx-font-family: 'Roboto Light';
	-fx-font-style: italic;
}

.DescrizionePane{
	-fx-border-width: 5;
	-fx-border-color: white;
	-fx-background-color: -fx-terzocolore;
}

.SchedaListaProgetti{
	-fx-border-width: 5 5 1 5;
	-fx-border-color: white;
}

.SchedaListaRiunioni{
	-fx-border-width: 0 0 5 0;
	-fx-border-color: white;
}