.DescrizioneProgettoImpiegatoPane{
	-fx-border-width: 5;
	-fx-border-color: white;
	-fx-background-color: -fx-terzocolore;
}

.IstruzioniLabel{
	-fx-font-family: 'Roboto Light';
	-fx-font-style: italic;
	-fx-font-size: 30;
	-fx-text-fill: white;
}