.HomePageValutazioni{
	-fx-primocolore: #7289da;
	-fx-secondocolore: #424549;
	-fx-terzocolore: #36393e;
	-fx-background-color: -fx-secondocolore;
	-fx-font-family: 'Roboto';
}

.NomeImpiegatoLabel,
.ListaValutazioniLabel{
	-fx-font-size: 18;
	-fx-text-fill: white;
}

.GradoImpiegatoLabel,
.DataValutazioneLabel{
	-fx-font-size: 16;
	-fx-text-fill: white;
	-fx-font-family: 'Roboto Light';
}

.HomePageImpiegatoButton{
	-fx-background-color: -fx-terzocolore;
	-fx-background-radius: 10;
	-fx-text-fill: white;
	-fx-font-size: 18;
	-fx-border-width: 2;
	-fx-border-color: white;
	-fx-border-radius: 10;
	-fx-background-radius: 10;
}

.HomePageImpiegatoButton:hover{
	-fx-background-color: -fx-primocolore;
	-fx-background-radius: 10;
}

.IstruzioniLabel{
	-fx-font-size: 30;
	-fx-text-fill: white;
	-fx-font-family: 'Roboto Light';
	-fx-font-style: italic;
}

.ListaValutazioniScrollPane{
	-fx-border-width: 5;
	-fx-border-color: white;
}

.ListaValutazioniScrollPane .viewport{
	-fx-background-color: -fx-terzocolore;
}

.ListaValutazioniScrollPane:focused{
    -fx-background-insets: 0;
}

.ListaValutazioniScrollPane .scroll-bar:vertical{
	-fx-background-color: -fx-terzocolore;
}

.ListaValutazioniScrollPane .scroll-bar:vertical .thumb,
.ListaValutazioniScrollPane .scroll-bar:vertical .increment-button .increment-arrow,
.ListaValutazioniScrollPane .scroll-bar:vertical .decrement-button .decrement-arrow{
	-fx-background-color: -fx-primocolore;
}

.ListaValutazioniLV{
	-fx-control-inner-background: -fx-terzocolore;
	-fx-font-size: 18;
}

.ListaValutazioniLV .list-cell{
	-fx-pref-height: 100;
}

.ListaValutazioniLV .list-cell:selected{
	-fx-background-color: -fx-primocolore;
}

.DescrizioneValutazionePane{
	-fx-border-width: 5;
	-fx-border-color: white;
	-fx-background-color: -fx-terzocolore;
}

.TitoloValutazioneLabel{
	-fx-text-fill: white;
	-fx-font-size: 24;
}

.RecensoreValutazioneLabel{
	-fx-font-size: 20;
	-fx-text-fill: white;
	-fx-font-family: 'Roboto Light';
}

.DescrizioneValutazioneTA,
.DescrizioneValutazioneTA .scroll-pane,
.DescrizioneValutazioneTA .scroll-pane .viewport,
.DescrizioneValutazioneTA .scroll-pane .viewport .content{
	-fx-background-color: -fx-terzocolore;
	-fx-padding: 0;
}

.DescrizioneValutazioneTA{
	-fx-text-fill: white;
	-fx-font-size: 18;
}

.DescrizioneValutazioneTA .scroll-pane{
	-fx-hbar-policy: NEVER;
}

.DescrizioneValutazioneTA .scroll-pane .scroll-bar:vertical{
	-fx-background-color: -fx-secondocolore;
}

.DescrizioneValutazioneTA .scroll-pane .scroll-bar:vertical .thumb,
.DescrizioneValutazioneTA .scroll-pane .scroll-bar:vertical .increment-button .increment-arrow,
.DescrizioneValutazioneTA .scroll-pane .scroll-bar:vertical .decrement-button .decrement-arrow{
	-fx-background-color: -fx-primocolore;
}