.ConfermaRegistrazioneImpiegato{
	-fx-primocolore: #7289da;
	-fx-secondocolore: #424549;
	-fx-terzocolore: #36393e;
	-fx-background-color: -fx-secondocolore;
	-fx-font-family: 'Roboto';
}

.EmailLabel,
.PasswordLabel,
.EmailTF,
.PasswordTF{
	-fx-text-fill: white;
	-fx-font-size: 14;
}

.TitoloLabel{
	-fx-text-fill: white;
	-fx-font-size: 30;
	-fx-border-width: 0 0 5 0;
	-fx-border-color: -fx-terzocolore;
}

.EmailTF,
.PasswordTF{
	-fx-background-color: -fx-secondocolore;
	-fx-border-width: 0 0 2 0;
	-fx-border-color: white;
}

.EmailTF:focused,
.PasswordTF:focused{
	-fx-border-color: -fx-primocolore;
}

.Form{
	-fx-border-width: 5;
	-fx-border-color: white;
	-fx-background-color: -fx-terzocolore;
}

.ButtonBar{
	-fx-border-width: 5 0 0 0;
	-fx-border-color: -fx-terzocolore;
}

.AnnullaButton, .AccediButton{
	-fx-background-color: -fx-terzocolore;
	-fx-text-fill: white;
	-fx-font-size: 30;
	-fx-border-width: 2;
	-fx-border-color: white;
	-fx-border-radius: 10;
	-fx-background-radius: 10;
}

.AnnullaButton:hover, .AccediButton:hover{
	-fx-background-color: -fx-primocolore;
	-fx-backgrund-radius: 10;
}